/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*MY CODE*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
}

nav {
  width: 100%;
  height: 100px;
  background-color: rgba(225, 187, 106, 0.5);
}

ul{

}
ul li{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;

}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: 1e1e1e;
  padding: 0 20px;
}

ul li a:hover{
  color: green;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 16px;
    text-decoration: none;
  }

.centered-tag {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-style: arial;
  background-color: rgba(199, 129, 8, 0.7);
}

.centered {
  font-size: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  background-color: rgba(33, 71, 29, 0.7);
 }

h1{
  font-family: Nosifer;
  font-size: 50px;
  text-align: center;
  background-color: #999;
}









@font-face {
  src:url(fonts/Nosifer-Regular.ttf);
  font-family: nosifer;
